
body {
    background-color: aqua;
    text-align: center;
    top: 15;
    background-image: url(background.jpg);
    background-size: contain;
}
.logo {
    font-size: larger;
    font-weight: bolder;
    color: black;
}
nav{
    background-color:green;
    background-size: 30%;
    font-size: x-large;
}
img{
    width: 700;
    height: 500;
}
header{
    background-color: blueviolet;
}




    
    


