.body{
        background-color:antiquewhite;
          text-align:left;
          top: 19;
          font-style:normal;
          
      }

      nav{ 
        background-color: azure;
          background-size 180%;
          font-size: x-large;
          text-align:center;
}

footer{
  text-align:center;
  backgorund-size: 100%
  font-style:normal;
}